@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');
a{
    color: black !important;
  }

.brand-logo, h2{
  font-family: 'Grand Hotel', cursive;
}

.myCard{
  margin-top: 30px;
}

.auth-card{
  padding: 20px;
  text-align: center;
  max-width: 400px;
  margin: 10px auto;
}

.input-field input[type=text]:focus {
  border-bottom: 1px solid rgb(79, 189, 240) !important;
  box-shadow: 0 1px 0 0 rgb(79, 189, 240) !important;
}

.gallery{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}


.item{
  margin-top: 5%;
  width: 30%;
}


.home-card{
  max-width: 500px;
  height: max-content;
  margin: 26px auto;
}


.collection-item{
  width: 100%;
}

.navbar-collapse{
  margin-right:10%;
}

.dropdown-toggle{
  height: 80% ;
  
}

i{
  cursor: pointer;
}

#modal1{
  width: 50%;
}
#miNabvar{
  background-color: rgb(230, 230, 230);
  z-index: 10;
}

.navbarGris{
  background-color: rgb(230, 230, 230);
}

#formularioSubirPost label, #formularioSubirPost button{
   float: left;
}


.customForm{
  width: 70%;
  border-style: ridge;
  border-width: 2px;
  padding: 5%;
}

.corazonBlanco{
  color: rgb(156, 156, 156);
}

.corazonRojo{
  color: rgb(255, 0, 0);
}
.Picante{
  color: rgb(255, 0, 0);
}

.etiqueta{
  float:left;
  margin-right: 10px;
  background-color: rgb(213, 223, 219);
  border-radius: 15px;
}

.titulo{
  text-align: center;
}

.modal-footer{
  background-color: aquamarine;
  max-height: 5%;
}


